/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/07/12, 18:48:23
    Author     : kuniaki
*/
body {
    background-color: black;
} 

div.controlPanel
{
    z-index:10;
    position:fixed;
    right:0;
    top:0;
    background-color: black;
    opacity: 0.2;
    width:180px;
    height:300px;
    transition:all 0.5s ease; 
    border-radius: 20px;  
    -webkit-border-radius: 10px;  
    -moz-border-radius: 10px;
}
div.controlPanel:hover{
    opacity: 1;
}

div.controlPanel button
{
    font-size: 3em;
    font-weight: bold;
    padding: 3px 12px;
    color: white;
    
    border-style: none;
    
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    
    text-shadow: 0px 0px 2px #fff;
    
    background: -moz-linear-gradient(bottom, #444, #666 50%, #444);
    background: -webkit-gradient(linear, left bottom, left top, from(#444), color-stop(0.5, #666), to(#444));
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.controlPanel button.button_reset
{
    position:absolute;
    top:0px;
    left:12px
}

div.controlPanel button.button_debug
{
    position:absolute;
    top:80px;
    right:5px
}

div.controlPanel div.websocket_statusBox
{
    position:absolute;
    top:160px;
    left:20px;
    background: black;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

div.controlPanel div.websocket_statusBox input
{
    background:black;
    color:white;
}

div.debug_message
{
    z-index: 10;
    position:fixed;
    background: rgba(0,0,0,0.8);
    display: none;
    top: 50px;
    left: 50px;
    color:white;
    height:80vh;
    width:80vw;
    overflow:scroll;
    opacity: 0.2;
    transition:all 0.5s ease; 
}

div.debug_message:hover
{
    opacity: 1;
}